@charset "utf-8";
html { background-color: #fff; -webkit-text-size-adjust: auto; }
body, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, iframe, ol, p, ul, li, th, td, button { margin: 0; padding: 0; }
body { font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 12px; line-height: 2; }
a { color: inherit; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 600; }
iframe { display: block; }
img { border: none; vertical-align: middle; }
input, button, select, textarea { font: inherit; color: inherit; }
input[type=text], input[type=password], input[type=search], input[type=number], input[type=email], input[type=url], input[type=tel], select, textarea { font: inherit; line-height: 1.5; padding: 3px; border: solid 1px #d8d8d8; }
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=email]:focus, input[type=url]:focus, input[type=tel]:focus, select:focus, textarea:focus { border-color: #999; }
textarea { overflow-y: auto; resize: none; }
label { cursor: pointer; }
ul { list-style: none; }
ol { list-style-position: inside; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
th { text-align: inherit; }
/* Reset */

.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.hand { cursor: pointer; }
.ime { ime-mode: disabled; }
.en { word-wrap: break-word; word-break: normal; /* 强制英文换行 */ }
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.mb10 { margin-bottom: 10px; }
.layout { width: 100%; border-collapse: collapse; table-layout: fixed; }
.layout td { vertical-align: top; }
.empty { text-align: center; padding: 30px 0; }
label.error { color: #F00; padding-left: 10px; }
.gt { font-family: "\5B8B\4F53", sans-serif; }
.button { font-size: 14px; color: #fff; padding: 0 1em; border: none; background-color: #34a150; cursor: pointer; }
.button:hover { background-color: #278f41; }
.button:disabled { background-color: #ccc; cursor: not-allowed; }
/* Base */

.editor { padding: 10px; font-size: 14px; }
.editor img { max-width: 100%; }
.editor a { color: #1369c0; text-decoration: underline; }
.editor a:hover { color: #00f; }
/* Editor */

.slide { height: 300px; margin-bottom: 10px; overflow: hidden; position: relative; user-select: none; }
.slide-item { width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0; background: #fff url(image/preloader.gif) no-repeat center; }
.slide-img { width: 100%; height: 100%; }
.slide-arrow { width: 30px; height: 60px; background: rgba(0, 0, 0, .5) url(image/slider.gif) no-repeat; position: absolute; top: 50%; margin-top: -30px; cursor: pointer; visibility: hidden; }
.slide:hover .slide-arrow { visibility: visible; }
.slide-arrow:hover { background-color: #34a150; }
.slide-prev { left: 0; background-position: 0 center; }
.slide-prev:hover { background-position: -60px center; }
.slide-next { right: 0; background-position: -30px center; }
.slide-next:hover { background-position: -90px center; }
.slide-paging { font-size: 0; line-height: 0; text-align: center; width: 100%; height: 12px; position: absolute; bottom: 10px; right: 0; }
.slide-paging span { display: inline-block; width: 12px; height: 12px; margin: 0 5px; cursor: pointer; background-color: #333; border-radius: 12px; }
.slide-paging span { transition: background-color 1s; }
.slide-paging .current { background-color: #34a150; }
/* Widget Slide */

.back-top { position: fixed; right: 15px; bottom: 30px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); transform: scale(0); transition: all 1s ease-out; }
.back-top.show { opacity: 0.5; filter: alpha(opacity=50); transform: scale(1); }
.back-top:hover { opacity: 1; filter: alpha(opacity=100);}
/* Widget Back Top */

.boxoff { height: 10px; background: url(image/boxoff.gif) repeat-x left 5px; margin-bottom: 10px; }
.boxoff b { display: block; width: 8px; height: 10px; background: url(image/boxoff.gif) no-repeat left bottom; }
.context { margin-bottom: 10px; overflow: hidden;}
.context li { color: #666; width: 50%; box-sizing: border-box; padding: 0 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.context-prev { float: left; }
.context-next { text-align: right; float: right; }
/* Context */

.box { margin-bottom: 10px; border: 1px solid #E6E6E6; }
.box-head { height: 30px; line-height: 30px; overflow: hidden; background: #f8f8f8; border-bottom: solid 1px #E6E6E6; }
.box-title { font-size: 14px; float: left; padding-left: 15px; }
.box-more { float: right; padding-right: 15px; height: 30px; }
.box-body { padding: 10px; }
/* Model Box */

.list li { border-bottom: dotted 1px #e5e5e5; line-height: 30px; padding-left: 15px; background: url(image/arrow.png) no-repeat 0 center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.list-date {color: #666; padding-left: 5px; float: right; }
/* Model List */

.image-list { overflow: hidden; }
.image-item { text-align: center; width: 200px; margin: 10px 19px; float: left; }
.image-item img { display: block; width: 200px; height: 150px; }
.image-name { line-height: 1.5; display: block; padding-top: 4px; height: 36px; overflow: hidden; }
.image-item:hover .image-name { color: #278f41; }
/* Model Image List */

.paging { text-align: center; clear: both; }
.paging * { display: inline-block; vertical-align: middle; padding: 0 6px; min-width: 1em; margin: 0 2px; border: 1px solid #e6e6e6; }
.paging a:hover { color: #34a150; border-color: #34a150; }
.paging span { color: #e8e8e8; }
.paging strong { color: #fff; border-color: #34a150; background: #34a150; }
/* Model Paging */

.wrap { width: 980px; margin: 0 auto; overflow: hidden; }
.header { height: 100px; overflow: hidden; position: relative; }
.search { height: 38px; position: absolute; bottom: 15px; right: 0; /* 搜索框 */ }
.search-input, .search-button { float: left; }
.search .search-input { line-height: 24px; height: 24px; width: 224px; border: solid 2px #34a150; padding: 5px 10px; box-sizing: content-box; outline: none; }
.search-button { color: #fff; line-height: 38px; height: 38px; padding: 0 15px; border: none; background-color: #34a150; cursor: pointer; }
.nav { font-size: 14px; line-height: 38px; height: 38px; overflow: hidden; background-color: #34a150; }
.nav li { height: 100%; float: left; }
.nav-link { color: #fff; display: block; width: 100px; text-align: center; }
.nav-link:hover, .nav-link.current { background-color: #278f41; }
.nav-line { width: 1px; background-color: #2e9749; border-right: 1px solid #3cad59; }
.side { width: 230px; float: left; }
@media (min-width: 1000px) {
    .side.fixed { position: fixed; }
}
.tree-a { display: block; line-height: 30px; text-indent: 30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
a.tree-level-0 { background: url(image/arrow.png) no-repeat 10px center; border-bottom: dotted 1px #ccc; }
a.tree-level-1 { color: #666; border-bottom: dotted 1px #e5e5e5; }
li.tree-level-1 { position: relative; }
ul.tree-level-2 { width: 200px; padding: 5px; position: absolute; top: 0; left: 236px; background-color: #fff; border: solid 1px #ccc; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); display: none; }
ul.tree-level-2 > li + li a { border-top: dotted 1px #ccc; }
a.tree-level-2:hover { color: #06f; }
li.tree-level-1:hover > a { color: #06f; }
li.tree-level-1:hover > ul { display: block; }
.main { width: 740px; float: right; /* 主体 */ }
.footer { color: #666; padding-bottom: 20px; text-align: center; clear: both; }
.footer a { color: #666; }
/* Common */

.article-head { padding-bottom: 10px; margin-bottom: 10px; text-align: center; border-bottom: 1px dotted #ccc; }
.article-title { font-size: 20px; }
.article-author, .article-date { font-size: 12px; color: #ccc; margin: 0 5px; }
/* Article  */

.product-info { margin-bottom: 20px; }
.product-photo { width: 324px; float: left; }
.product-attr { width: 384px; float: right; }
.preview { height: 240px; overflow: hidden; border: solid 1px #ddd; padding: 1px; margin-bottom: 6px; }
.gallery { width: 324px; overflow: hidden; position: relative; }
.gallery-container { width: 280px; overflow: hidden; margin: 0 auto; }
.gallery-list { width: 3000px; overflow: hidden; }
.gallery-item { width: 60px; height: 45px; padding: 1px; border: solid 1px #dadada; overflow: hidden; margin: 0 3px; float: left; }
.gallery-item img { width: 60px; height: 45px; }
.gallery-arrow { font-family: "\5B8B\4F53", sans-serif; font-size: 18px; font-weight: bold; line-height: 49px; color: #fff; text-align: center; width: 20px; height: 100%; background-color: #34a150; position: absolute; top: 0; cursor: pointer; }
.gallery-prev { left: 0; }
.gallery-next { right: 0; }
.gallery-arrow.disabled { color: #999; background-color: #e2e2e2; cursor: not-allowed; }
.product-name { font-size: 16px; border-bottom: 1px dotted #ccc; margin-bottom: 10px; text-indent: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.product-attr td { padding: 5px 5px; }
.product-but { padding: 20px 0 0 20px; }
.product-desc { font-size: 16px; text-indent: 30px; border-bottom: dotted 1px #ccc; background: url(image/sign_up.png) no-repeat 5px center; }
.product-content { min-height: 160px; padding: 10px; }
.content { padding: 10px; }
/* 产品详细页 */

.inquiry-hint { font-size: 14px; text-align: center; padding: 15px 0 10px 0; }
.preloader { display: inline-block; vertical-align: middle; width: 16px; height: 16px; background: url(image/preloader.gif) no-repeat center; }
/* 在线留言 */

.dialog-mask { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4c000000', EndColorStr='#4c000000'); position: fixed; top: 0; left: 0; z-index: 99; }
html:root .dialog-mask { filter: progid:DXImageTransform.Microsoft.Gradient(enabled:false); }
.dialog { border: solid 1px #dfdfdf; width: 600px; height: 400px; overflow: hidden; background: #fff; position: fixed; top: 50%; left: 50%; z-index: 100; margin-left: -301px; margin-top: -201px; }
.dialog-header { line-height: 36px; height: 36px; background-color: #fafafa; border-bottom: solid 1px #dfdfdf; position: relative; }
.dialog-title { padding-left: 10px; font-size: 14px; }
.dialog-close { font-size: 21px; font-weight: bold; color: #ccc; padding: 0; border: none; background-color: transparent; width: 36px; height: 36px; position: absolute; top: 0; right: 0; cursor: pointer; }
.dialog-close:hover { color: #000; }
/* Dialog */